                  
            
  
               
  .button1 {border-radius: 10px; clear: both;position: absolute;
                top: 45%; font-size: 30px; padding: 5px;
                left: 35%;
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
                0 5px 20px 0 rgba(197, 189, 189, 0.19)
                
                 }
  .button1:hover {
                 background-color: #98a398; /* Green */
                 color: white;}
                 h1,h2,h3,h4,h5,h6,p {font-family: 'Trebuchet MS', 
                 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
    body{background-color: rgb(25, 46, 206);}

           .navbar{ padding-left: 10px;
                   }
  .nav-item ul,li,a{font-size: larger; font-weight: 600;
                   }
   .footernav ul,li{text-decoration: none;}
  .aboutbackground{background-color:white;}                 
  .servicingbackground{background-color:white;}               
   /* .pricingbackground{background-color:rgb(212, 222, 228);}                 */
   .footerbackground{background-color:rgb(212, 222, 228);padding:20px;}          
   {
                    height :100%;
                    width: 100%;
                    /* background-color: rgba(241, 230, 230, 0.466); */
                    }        
      
                  
/****** Pricing CSS section----------------*/

