h1 {color: black;font-family: 'Trebuchet MS'; font-size: 300%;}
h2 {color: black;font-family: 'Trebuchet MS'; font-size: 200%;}
h3 {color: black;font-family: 'Trebuchet MS'; font-size: 150%;}
h4 {color: black;font-family: 'Trebuchet MS'; font-size: 150%;}
h {color: black;font-family: 'Trebuchet MS'; font-size: 100%;}
p  {color: black;font-family: 'Trebuchet MS'; font-size: 100%;}
nav {background-color:rgb(224, 231, 231); text-decoration:none}