.description{list-style-type:none;
}
.list {
 font-weight:bolder;
  }

.skillcontainer {
   
   }

.skill-name{ background-color: gainsboro;
   border: 1px solid rgb(115, 113, 119);
   padding: 15px; height: 400px; padding-top:50px;
   box-shadow: 20px -16px 5px -1px rgba(0,0,0,0.63);
  -webkit-box-shadow: 20px -16px 5px -1px rgba(0,0,0,0.63);
  -moz-box-shadow: 20px -16px 5px -1px rgba(0,0,0,0.63); 
  } 

@media only screen and (min-width:0) {
   /* For mobile phones: */
   .skill-name.containerimage { };
     
   }
 